[submodule "Missions/Mission02_Estes"]
	path = Missions/Mission02_Estes
	url = git@github.com:JackEstes06/BYU_IS413_Mission02.git
[submodule "Missions/Mission03_Estes"]
	path = Missions/Mission03_Estes
	url = git@github.com:JackEstes06/BYU_IS413_Mission03.git
[submodule "Missions/Mission04_Group10"]
	path = Missions/Mission04_Group10
	url = git@github.com:sand20man/Mission4.git
[submodule "Missions/Mission05_Estes"]
	path = Missions/Mission05_Estes
	url = git@github.com:JackEstes06/BYU_IS413_Mission05.git
[submodule "Missions/Mission06_Estes"]
	path = Missions/Mission06_Estes
	url = git@github.com:JackEstes06/BYU_IS_413_Mission06.git
[submodule "Missions/Mission08_0110"]
    path = Missions/Mission08_0110
    url = git@github.com:JackEstes06/Mission08_Team0110.git