<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Prof. Ganderson Fan Club!</h1>
<h3>The one, the only, Mr. Greg Anderson</h3>

<img id="imgGanderson" src="~/images/greg.jpg" height="400px" alt="image of ganderson">

<div>
    @RenderBody()
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>