@{
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Fan mail</title>
</head>
<body>
<div>
    <h2>Send Fan Mail Here</h2>
    <form>
        <label>From:</label>
        <input id="textFrom"/><br/>
        <label>Subject:</label>
        <input id="textSubject"/><br/>
        <label>Message:</label>
        <textarea rows="4" id="textMessage"></textarea>
        <br/>
        <input type="button" value="sendMail" id="btnSubmit"/>
    </form>
</div>
</body>
</html>