@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prof. Ganderson Fan Club</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<p>Professor Anderson (a.k.a. Prof. Ganderson) is a professor in the BUI Information Systems dept.</p>

<p>Pop Quiz</p>
<ul>
    <li>A: Great flowing locks of hair</li>
    <li>B: He can pound pounds of bacon</li>
    <li>C: EZPZ Exams</li>
    <li>D: He is just an awesome person who cares about everyone around him</li>
    <li>E: All of the Above</li>
</ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>