@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Jack Estes</h1>

<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>   
    <img src="~/img/datejack.jpg" alt="Super Sexy Jack" style="width: 35%"/>
</div>
<br/>
<div>
    <a asp-controller="Home" asp-action="FillOutApplication">Fill Out an Application to Date Me</a>
</div>